
.container
{
	width:200px;
}
.wrapper
{
	width:900px;
}

.dataTables_filter {
	display: none;
}



.dataTables_length label 
{ 

	display: none; 

}


.dataTables_paginate
{
	display: none;
}


body
{
}

.dark
{
	background-color:#003366;
}
.navbar-collapse  ul
{
	float:right;
	 list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-collapse ul li
{
	float:left;
	display:inline-block;
	height:50px;
	line-height:50px;
	background-color:#003366;
	width:200px;
	font-family: 'Oleo Script', cursive;

}
.navbar-collapse ul li a
{
	color:white;
        text-decoration:none;
        display:block;
	text-align:center;
}
.navbar-collapse ul li a:hover
{
	background-color:white;
	color:#003366;
}
h2
{
	margin-top:20px;
	color:white;
	font-family: 'Orbitron', sans-serif;

}
.navbar-collapse ul ul
{
	position:absolute;
	margin:0px;
	padding:0px;
	display:none;
	
}
.navbar-collapse ul li:hover ul
{
	display:block;
}
